<body>
    <div class="container custom-nav-header"></div>
    <div class="container custom-nav">
        <nav class="navbar navbar-expand-lg navbar-dark bg-transparent">
            <div class="container-fluid">
                <a class="navbar-brand"><img src="../../../../assets/logo.png" alt=""></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                    </ul>
                    <div class="d-flex">
                        <button class="btn btn-outline-light mx-2" type="button" routerLink="/sign-in">Sign In</button>
                        <button class="btn orange-button text-white" type="button" routerLink="/sign-up">Create Account</button>
                    </div>
                </div>
            </div>
        </nav>
        <div class="hero-text d-flex align-items-center h-100">
            <div class="container">
                <div class="row">
                    <div class="col text-white">
                        <h1 class="text-center">Connect on SoundCloud</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p class="text-center text-white">Discover, stream, and share a constantly expanding mix of
                            music<br> from emerging and major artists around the world.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col d-flex justify-content-center w-100">
                        <button class="btn orange-button text-white">Sign up for free</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container custom-body">
        <div class="row">
            <div class="col d-flex justify-content-center my-5">
                <div class="input-group mb-3 w-50">
                    <input type="text" class="form-control" placeholder="Search for artists, bands, tracks, podcasts"
                        aria-label="Recipient's username" aria-describedby="basic-addon2">
                    <span class="input-group-text text-dark bg-white" id="basic-addon2"><a href="#"><i
                                class="fa fa-search text-dark fw-bold"></i></a>
                    </span>

                </div>
                <div>
                    <p class="text-dark mx-3 text-center my-1 fs-5"> or </p>
                </div>
                <div>
                    <button class="btn orange-button text-white">Upload your own</button>
                </div>
            </div>

        </div>
        <div class="row songh">
            <h5 class="text-dark text-center">Hear what’s trending for free in the SoundCloud community</h5>
        </div>


        <div class="row my-3">
            <div class="extra-div col-lg-2 col-md-4 col-6">
                <div class="firstsong"><a href="./assets/Kaifi Khalil  Kahani Suno 20 Official Music.mp3">
                        <i class="fa-3x fa-solid fa fa-circle-play"></i></a><span class="icons">
                        <a href="#"><i class="fa-solid fa fa-heart heart "></i></a><a href="#">
                            <i class="fa-solid fa fa-user-plus user  mx-1"></i></a><a href="#">
                            <i class="fa fa-ellipsis dots"></i></a></span>
                </div>
                <h1 class="kahani">Kahani Suno 2.0</h1>
                <p class="para">Waqar Ahsan</p>


            </div>
            <div class="extra-div col-lg-2 col-md-4 col-6">
                <div class="firstsong"><a href="./assets/Kaifi Khalil  Kahani Suno 20 Official Music.mp3">
                        <i class="fa-3x fa-solid fa fa-circle-play"></i></a><span class="icons">
                        <a href="#"><i class="fa-solid fa fa-heart heart "></i></a><a href="#">
                            <i class="fa-solid fa fa-user-plus user  mx-1"></i></a><a href="#">
                            <i class="fa fa-ellipsis dots"></i></a></span>
                </div>
                <h1 class="kahani">Kahani Suno 2.0</h1>
                <p class="para">Waqar Ahsan</p>


            </div>
            <div class="extra-div col-lg-2 col-md-4 col-6">
                <div class="firstsong"><a href="./assets/Kaifi Khalil  Kahani Suno 20 Official Music.mp3">
                        <i class="fa-3x fa-solid fa fa-circle-play"></i></a><span class="icons">
                        <a href="#"><i class="fa-solid fa fa-heart heart "></i></a><a href="#">
                            <i class="fa-solid fa fa-user-plus user  mx-1"></i></a><a href="#">
                            <i class="fa fa-ellipsis dots"></i></a></span>
                </div>
                <h1 class="kahani">Kahani Suno 2.0</h1>
                <p class="para">Waqar Ahsan</p>


            </div>
            <div class="extra-div col-lg-2 col-md-4 col-6">
                <div class="firstsong"><a href="#"><i class="fa-3x fa-solid fa fa-circle-play"></i></a><span
                        class="icons">
                        <a href="#"><i class="fa-solid fa fa-heart heart "></i></a><a href="#">
                            <i class="fa-solid fa fa-user-plus user  mx-1"></i></a><a href="#">
                            <i class="fa fa-ellipsis dots"></i></a></span>
                </div>
                <h1 class="kahani">Kahani Suno 2.0</h1>
                <p class="para">Waqar Ahsan</p>


            </div>
            <div class="extra-div col-lg-2 col-md-4 col-6">
                <div class="firstsong"><a href="#"><i class="fa-3x fa-solid fa fa-circle-play"></i></a><span
                        class="icons">
                        <a href="#"><i class="fa-solid fa fa-heart heart "></i></a><a href="#">
                            <i class="fa-solid fa fa-user-plus user  mx-1"></i></a><a href="#">
                            <i class="fa fa-ellipsis dots"></i></a></span>
                </div>
                <h1 class="kahani">Kahani Suno 2.0</h1>
                <p class="para">Waqar Ahsan</p>


            </div>
            <div class="extra-div col-lg-2 col-md-4 col-6">
                <div class="firstsong"><a href="#"><i class="fa-3x fa-solid fa fa-circle-play"></i></a><span
                        class="icons">
                        <a href="#"><i class="fa-solid fa fa-heart heart "></i></a><a href="#">
                            <i class="fa-solid fa fa-user-plus user  mx-1"></i></a><a href="#">
                            <i class="fa fa-ellipsis dots"></i></a></span>
                </div>
                <h1 class="kahani">Kahani Suno 2.0</h1>
                <p class="para">Waqar Ahsan</p>


            </div>

        </div>
        <div class="row my-3">
            <div class="extra-div col-lg-2 col-md-4 col-6">
                <div class="firstsong"><a href="#"><i class="fa-3x fa-solid fa fa-circle-play"></i></a><span
                        class="icons">
                        <a href="#"><i class="fa-solid fa fa-heart heart "></i></a><a href="#">
                            <i class="fa-solid fa fa-user-plus user  mx-1"></i></a><a href="#">
                            <i class="fa fa-ellipsis dots"></i></a></span>
                </div>
                <h1 class="kahani">Kahani Suno 2.0</h1>
                <p class="para">Waqar Ahsan</p>


            </div>
            <div class="extra-div col-lg-2 col-md-4 col-6">
                <div class="firstsong"><a href="#"><i class="fa-3x fa-solid fa fa-circle-play"></i></a><span
                        class="icons">
                        <a href="#"><i class="fa-solid fa fa-heart heart "></i></a><a href="#">
                            <i class="fa-solid fa fa-user-plus user  mx-1"></i></a><a href="#">
                            <i class="fa fa-ellipsis dots"></i></a></span>
                </div>
                <h1 class="kahani">Kahani Suno 2.0</h1>
                <p class="para">Waqar Ahsan</p>


            </div>
            <div class="extra-div col-lg-2 col-md-4 col-6">
                <div class="firstsong"><a href="#"><i class="fa-3x fa-solid fa fa-circle-play"></i></a><span
                        class="icons">
                        <a href="#"><i class="fa-solid fa fa-heart heart "></i></a><a href="#">
                            <i class="fa-solid fa fa-user-plus user  mx-1"></i></a><a href="#">
                            <i class="fa fa-ellipsis dots"></i></a></span>
                </div>
                <h1 class="kahani">Kahani Suno 2.0</h1>
                <p class="para">Waqar Ahsan</p>


            </div>
            <div class="extra-div col-lg-2 col-md-4 col-6">
                <div class="firstsong"><a href="#"><i class="fa-3x fa-solid fa fa-circle-play"></i></a><span
                        class="icons">
                        <a href="#"><i class="fa-solid fa fa-heart heart "></i></a><a href="#">
                            <i class="fa-solid fa fa-user-plus user  mx-1"></i></a><a href="#">
                            <i class="fa fa-ellipsis dots"></i></a></span>
                </div>
                <h1 class="kahani">Kahani Suno 2.0</h1>
                <p class="para">Waqar Ahsan</p>


            </div>
            <div class="extra-div col-lg-2 col-md-4 col-6">
                <div class="firstsong"><a href="#"><i class="fa-3x fa-solid fa fa-circle-play"></i></a><span
                        class="icons">
                        <a href="#"><i class="fa-solid fa fa-heart heart "></i></a><a href="#">
                            <i class="fa-solid fa fa-user-plus user  mx-1"></i></a><a href="#">
                            <i class="fa fa-ellipsis dots"></i></a></span>
                </div>
                <h1 class="kahani">Kahani Suno 2.0</h1>
                <p class="para">Waqar Ahsan</p>


            </div>
            <div class="extra-div col-lg-2 col-md-4 col-6">
                <div class="firstsong"><a href="#"><i class="fa-3x fa-solid fa fa-circle-play"></i></a><span
                        class="icons">
                        <a href="#"><i class="fa-solid fa-heart heart "></i></a><a href="#">
                            <i class="fa-solid fa fa-user-plus user  mx-1"></i></a><a href="#">
                            <i class="fa fa-ellipsis dots"></i></a></span>
                </div>
                <h1 class="kahani">Kahani Suno 2.0</h1>
                <p class="para">Waqar Ahsan</p>


            </div>
        </div>

        <div class="btn5">
            <button class="btn btn-danger" type="button">Explore trending playlists</button>
        </div>
    </div>
    <div class="container my-5">
        <div class="row">
            <div class="col col-lg-6 col-md-6 col-6 mobileimg"><img src="./assets/mobileimage.png" alt="loadind...">
            </div>
            <div class="col">
                <h1 class="text-center mobileh mx-5">Never stop listening</h1>
                <p class="mobilep mx-5">SoundCloud is available on <br> Web,iOS, Android, Sonos, <br> Chromecast,and
                    Xbox One.</p>
                <div class="frontMobileTeaser__links">
                    <a href="https://itunes.apple.com/us/app/soundcloud/id336353151?mt=8" target="_blank"
                        class="g-appStoreButton g-appStoreButton__appStore sc-ir">

                    </a>
                    <a href="https://play.google.com/store/apps/details?id=com.soundcloud.android&amp;hl=us"
                        target="_blank" class="g-appStoreButton g-appStoreButton__googlePlay sc-ir">

                    </a>
                </div>
            </div>
        </div>
    </div>

</body>